
@import "../fonts/English.css";

body,
html {
    height: 100%;
    font-family: IRANSans;
}

.full-page-backgrouond {
    background-color: #1d262d;
    /* background-image: url("Image/loginback.jpg"); */
    width: 100%;
    /* The image used */
    /* Full height */
    scale: inherit;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-page {
    background-color: #ffffff;
    margin: auto;
    /* background-image: url("Image/loginback.jpg"); */
    width: 100%;
    /* The image used */
    /* Full height */
    scale: inherit;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.red-vertical-line {
    margin-left: 50%;
    border-left: 30px solid #c00000;
}

.div1 {
    margin-top: 5%;
    margin: auto;
}

.line {
    border-color: white;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 15%;
    margin-right: 15%;
    border-style: inset;
    border-width: 1px;
}

.footer {
    height: min-content;
    background-color: #1d262d;
    width: 100%;
    scale: inherit;
}

.no-padding {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}


.padding-10 {
    padding: 10px;
}


.padding-10-persent {
    padding: 10%;
}





.margin-30{margin: 30px;}

.card {
    height: 400px;
    background-color: rgba(255, 255, 255, 0.26);
    /* just in case there no content*/
    padding: 0px;
    margin:50px auto;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 20px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-image{
    width:100%;
    height:100%;
    border-radius: 20px;
}


.card-text{
    width:30%;
    height:100%;
    padding: 10px;
    color: black;
}






.span-footerItem {
    font-size: 14px;
    color: #869fb2;
    text-align: left;
}

.span-copyRights{
    font-size: 12px;
    color: #869fb2;
}



.span-whiteTitle {
    font-size: 24px;
    color: white;
}



.span1 {
    font-family: Montserrat-Bold;
    line-height: 32px;
    font-size: 72px;
    color: #d3ebd5;
}

.span-light {
    font-family: Lato-Regular;
    line-height: 32px;
    font-size: 32px;
    color: #e1e1e1;
}


.span-Baloo-light {
    font-family: Baloo-Reqular;
    line-height: 32px;
    font-size: 32px;
    color: #e1e1e1;
}
.span-Baloo-red {
    font-family: Baloo-Reqular;
    line-height: 32px;
    font-size: 32px;
    color: #f60000;
}

.span-Baloo-blue {
    font-family: Baloo-Reqular;
    line-height: 32px;
    font-size: 32px;
    color: #00b0f0;
}

.span-Baloo-darkblue {
    font-family: Baloo-Reqular;
    line-height: 32px;
    font-size: 32px;
    color: #5e6c91;
}


.button-reduced {
    /*background-color: white;*/
    width: max-content;
    padding: 8px;
    color: #e1e1e1;
    border-radius: 20px;
    border: 2px solid #e1e1e1; /* Green */
}

.partnerlogo{
    margin-top: 25px;
    align-items: center;
    width: 100%;
    height: 60%;
}

.small-font{
    font-size: 22px;
}
