@font-face {
    font-family: Baloo-Reqular;
    font-style: normal;
    font-weight: normal;
    src: url('English/Baloo-Regular.ttf');
    src: url('English/Baloo-Regular.ttf') format('truetype');
}


@font-face {
    font-family: Dosis-Bold;
    font-style: normal;
    font-weight: normal;
    src: url('English/Dosis-Bold.otf');
    src: url('English/Dosis-Bold.otf') format('truetype');
}


@font-face {
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: normal;
    src: url('English/Lato-Regular.ttf');
    src: url('English/Lato-Regular.ttf') format('truetype');
}



@font-face {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    src: url('English/Montserrat-Bold.ttf');
    src: url('English/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    src: url('English/Montserrat-Regular.ttf');
    src: url('English/Montserrat-Regular.ttf') format('truetype');
}





























@media only screen and (max-width: 767px) {
    .tp-responsive {
        text-align: center;

    }
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
